# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Конфигурация базы данных
DATABASE_NAME=headhunter_drf # Имя базы данных (автоматически создаётся командой create_database)
POSTGRES_HOST=localhost        # Хост для базы данных
POSTGRES_USER=postgres         # Имя пользователя базы данных
POSTGRES_PASSWORD=your_password # Пароль базы данных
POSTGRES_PORT=5432             # Порт базы данных

# Django
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=*